.section-breadcrumbs {
    margin-top: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.section-breadcumbs-menu {
    display: flex;
    margin-bottom: 0;
}

.section-breadcumbs-menu li {
    position: relative;
    color: #727b8b;
}

.section-breadcumbs-menu li:first-child:after {
    position: absolute;
    right: 6px;
    content: '';
    top: 7px;
    height: 11px;
    width: 8px;
    background: url('../../images/helpers/Breadcrumbs/Right-Arrow-Icon.svg') no-repeat;
}

.section-breadcumbs-menu li {
    list-style: none;
    padding-right: 22px;
}

.section-breadcumbs-menu li a {
    text-decoration: none;
    color: #727b8b;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.section-breadcumbs-menu li:first-child a {
    color: #272d37;
}

.section-breadcumbs-menu li a:hover {
    color: #5dc269;
}
