.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-17 {
    margin-bottom: 17px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-29 {
    margin-bottom: 29px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-41 {
    margin-bottom: 41px;
}

.mb-42 {
    margin-bottom: 42px;
}

.mb-44 {
    margin-bottom: 44px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-62 {
    margin-bottom: 62px;
}

.mb-64 {
    margin-bottom: 64px;
}

.mb-66 {
    margin-bottom: 66px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-148 {
    margin-bottom: 148px;
}

.mb-160 {
    margin-bottom: 160px;
}

.mb-195 {
    margin-bottom: 195px;
}

/* MARGIN TOP */

.mt-16 {
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-42 {
    margin-top: 42px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-52 {
    margin-top: 52px;
}

.mt-57 {
    margin-top: 57px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-64 {
    margin-top: 64px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-160 {
    margin-top: 160px;
}

.mt-202 {
    margin-top: 202px;
}

/* MARGIN RIGHT */

.mr-16 {
    margin-right: 16px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-32 {
    margin-right: 32px;
}

/* WIDTH */

.w-84 {
    width: 84px;
}

.w-128 {
    width: 128px;
}

.w-129 {
    width: 129px;
}

.w-208 {
    width: 208px;
}

.w-752 {
    width: 752px;
}

.w-770 {
    width: 770px;
}

/* HEIGHT */

.h-46 {
    height: 46px;
}

.h-117 {
    height: 117px;
}

.pt-24 {
    padding-top: 24px;
}

/* GAP */

.gap-40 {
    gap: 40px;
}

.gap-55-5 {
    gap: 55.5px;
}

/* PADDING */

.px-276 {
    padding-left: 276px;
    padding-right: 276px;
}

.py-62 {
    padding-top: 62px;
    padding-bottom: 62px;
}
